<h1 id="portfolio">Portfolio</h1>
<!-- <div class="container"> -->
  <ul>
    <% @lists.each do |list| %>
       <a href="<%=list_path(list)%>"><img src="<%= list.image %>" /></a>
    <% end %>
  </ul>
<!-- </div> -->
